* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    width: fit-content;
    margin-top:5rem;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}
/* Common styling */
#order-summary-1,#order-summary-2,#order-summary-3{
    display: none;

}
.order-summary-1,.order-summary-2,.order-summary-3{
    background: #fff;

}
section,
header,
button,
.pair-option {
    width: 341px;
}

article {
    border-radius: 3.615px;
    border: 0.904px solid #C8C8C8;
    background: #FFF;
}

.pair-option2 {
    margin: 18.88px 0;
}

.inner-box {
    padding-left: 21.69px;
    padding-right: 21.77px;
    padding-top: 19.88px;
    padding-bottom: 20.34px;
    /* background: #F4FBF9; */
}
.price{
    margin-top: 5.88px;
}

input {
    width: 14.46px;
    color: #DADADA;
    margin-right: 18.8px;
}
input[type="radio"]:checked {
    background-color:#FF6B82;
}

.primary-txt {
    color: #000;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    text-align: left;
 

}

.bold {
    font-weight: 400;
}

/* Header styling */
header {
    display: flex;
    align-items: center;
    margin-bottom: 18.15px;

}

.hr {
    width: 94px;
    background: #C8C8C8;
    height: 1px;

}

.heading {
    width: 126px;
    text-align: center;
    font-family: sans-serif;
    font-size: 18.076px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    color: #FF6B82;

    margin: 0 13.56px;

}

/* Pair 1 styling */
.pair1-txt-box {
    display: flex;
    justify-content: space-between;
}

/* Pair 2 styling */
.pair2-txt-cont {
    display: flex;
    justify-content: space-between;
    /* align-items: flex-end; */
    margin-bottom: 12px
}

.old-price {
    color: #000;
    font-size: 9.942px;
    font-weight: 400;
    opacity: 0.3;
    text-align: left;
}

.price-text {
    text-align: end;
    font-weight: 500;
}
/* Pair 3 styling */
.popular-txt {
    color: #007F61;
    font-size: 12.653px;
    font-weight: 600;
}

th,.col1 {
    color: #000;
    font-size: 9.942px;
    font-weight: 400;
    text-align: initial;
}
.col2{
    margin-left: 5px;
}
.head{
    color: #000;
font-size: 9.942px;
font-weight: 400;
padding-bottom: 5px;

}
.head1{
    padding-left: 5px;
}
.col{
    margin-right: 5px;
    color: #000;
font-size: 10.846px;
font-weight: 400;
border-radius: 1.808px;
border: 0.904px solid #D9D9D9;
background: #FFF;
width: 65.978px;
height: 25.306px;
}
.unit-disc-wrap{
    display: flex;
    flex-direction: row;
    align-items: center
}
.disc-text{
    width: 55px;
    height: 17px;
    padding-top: 2px;
    border-radius: 1px 0px 0px 0px;
    background-color: #FF6B82;
    color: white;
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
    margin-left: 12px;
}
.popular-label {
    position: absolute;
    top: -9px;
    right: 10px;
    background-color: #f76c6c;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 12px;
    border-radius:0px 0px 5px 5px ;
}
.popular-label::before {
    content: "";
    position: absolute;
    top: -1px; 
    left: -3%;
    transform: translateX(-50%);
    border-left: 10px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 10px solid #d35f54; 
  }
.popular-label::after {
    content: "";
    position: absolute;
    top: -1px; 
    right: -12%;
    transform: translateX(-50%);
    border-left: 0px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #d35f54; 
  }
.order-summary-2{
    position: relative;
}
/* Box 4 styling */
.shipping-info{
    display:flex;
    justify-content: space-between;
    margin-top: 25.8px;
    margin-bottom: 21.8px;
}
.shipping-txt{
    color: #000;
    font-size: 14px;
    font-weight: 400;
}
.shiptext{
    color: #FF6B82;
    opacity: 0.6;
    font-weight: 500;

}
/* Button styling */
.addToCart-btn{
    border-radius: 4px 4px 4px 0px;
    background-color: #FF6B82;
    border: none;
    border-radius: 4px;
    width: 341px;
    height: 48px;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
}
#total{
    font-weight: 500;
}
.copyright{
    color: #00000066;
    font-size: 12px;
    font-style: italic;
    font-weight: 300;
    line-height: normal;
    text-align: end;
    margin-top: 4px;
}

